/*<meta />*/

@font-face {
    font-family: 'FreeSans';
    src: url('../FreeSansFonts/freesans-webfont.eot');
    src: local('FreeSans'), url('../FreeSansFonts/freesans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../FreeSansFonts/freesans-webfont.woff2') format('woff2'),
         url('../FreeSansFonts/freesans-webfont.woff') format('woff'),
         url('../FreeSansFonts/freesans-webfont.ttf') format('truetype'),
         url('../FreeSansFonts/freesans-webfont.svg#freesansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

} 

@font-face {
    font-family: 'FreeSansBold';
    src: url('../FreeSansFonts/freesansbold-webfont.eot');
    src: local('FreeSansBold'), url('../FreeSansFonts/freesansbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../FreeSansFonts/freesansbold-webfont.woff2') format('woff2'),
         url('../FreeSansFonts/freesansbold-webfont.woff') format('woff'),
         url('../FreeSansFonts/freesansbold-webfont.ttf') format('truetype'),
         url('../FreeSansFonts/freesansbold-webfont.svg#freesansbold') format('svg');
    font-weight: bold;
    font-style: normal;

} 

@font-face {
    font-family: 'FreeSansBoldOblique';
    src: url('../FreeSansFonts/freesansboldoblique-webfont.eot');
    src: local('FreeSansBoldOblique'), url('../FreeSansFonts/freesansboldoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../FreeSansFonts/freesansboldoblique-webfont.woff2') format('woff2'),
         url('../FreeSansFonts/freesansboldoblique-webfont.woff') format('woff'),
         url('../FreeSansFonts/freesansboldoblique-webfont.ttf') format('truetype'),
         url('../FreeSansFonts/freesansboldoblique-webfont.svg#freesansboldoblique') format('svg');
    font-weight: bold;
    font-style: italic;

} 

@font-face {
    font-family: 'FreeSansOblique';
    src: url('../FreeSansFonts/freesansoblique-webfont.eot');
    src: local('FreeSansOblique'), url('../FreeSansFonts/freesansoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../FreeSansFonts/freesansoblique-webfont.woff2') format('woff2'),
         url('../FreeSansFonts/freesansoblique-webfont.woff') format('woff'),
         url('../FreeSansFonts/freesansoblique-webfont.ttf') format('truetype'),
         url('../FreeSansFonts/freesansoblique-webfont.svg#freesansoblique') format('svg');
    font-weight: normal;
    font-style: italic;

} 