/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Table_Centered;
	margin-left: 0in;
	margin-right: 0.87in;
	margin-top: 12pt;
	margin-bottom: 12pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #00A650;
	border-right-color: #00A650;
	border-top-color: #00A650;
	border-bottom-color: #00A650;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 3pt;
	cell-padding-left: 3pt;
	cell-padding-right: 3pt;
	cell-padding-bottom: 3pt;
	max-id: 4;
	mc-hide-bottom-ruling: true;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #00A650;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	background-color: #f2f2f2;
	separator-style: solid;
	name: Header1;
	id: 3;
	vertical-align: top;
	separator-width: 1px;
	separator-color: #00A650;
	text-align: left;
	cell-content-style-tag: p;
	cell-content-style-class: z_table_row_head_center;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #00A650;
	name: Body1;
	id: 1;
	vertical-align: top;
	cell-content-style-tag: p;
	cell-content-style-class: z_table_centered;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #00A650;
	name: Body2;
	id: 2;
	vertical-align: top;
	cell-content-style-tag: p;
	cell-content-style-class: z_table_centered;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
	vertical-align: bottom;
	cell-content-style-tag: p;
	cell-content-style-class: z_table_centered;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #00A650;
}


/* Cell Styles: */
 
.TableStyle-Table_Centered
{
	border-collapse: collapse;
	mc-hide-bottom-ruling: true;
	border-left-style: solid;
	border-left-color: #00A650;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #00A650;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #00A650;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #00A650;
	border-bottom-width: 1px;
	margin-left: 0in;
	margin-right: 0.87in;
	margin-top: 12pt;
	margin-bottom: 12pt;
	border-spacing: 0px 0px;
}

.TableStyle-Table_Centered-Column-Column1
{
	
}

.TableStyle-Table_Centered-Head-Header1
{
	
}

.TableStyle-Table_Centered-HeadI-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
}

.TableStyle-Table_Centered-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Table_Centered-HeadE-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #00A650;
	border-right-style: solid;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	border-bottom-width: 1px;
	border-bottom-color: #00A650;
	border-bottom-style: solid;
}

.TableStyle-Table_Centered-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Table_Centered-HeadF-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	border-bottom-width: 1px;
	border-bottom-color: #00A650;
	border-bottom-style: solid;
}

.TableStyle-Table_Centered-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Table_Centered-HeadH-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #00A650;
	border-right-style: solid;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
}

.TableStyle-Table_Centered-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Table_Centered-HeadD-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	border-bottom-width: 1px;
	border-bottom-color: #00A650;
	border-bottom-style: solid;
}

.TableStyle-Table_Centered-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Table_Centered-HeadC-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
}

.TableStyle-Table_Centered-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Table_Centered-HeadB-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #00A650;
	border-right-style: solid;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
}

.TableStyle-Table_Centered-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Table_Centered-HeadA-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
}

.TableStyle-Table_Centered-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Table_Centered-HeadG-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
}

.TableStyle-Table_Centered-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Table_Centered-Foot-Footer1
{
	
}

.TableStyle-Table_Centered-FootI-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: bottom;
}

.TableStyle-Table_Centered-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Table_Centered-FootE-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #00A650;
	border-right-style: solid;
	vertical-align: bottom;
	border-top-width: 1px;
	border-top-color: #00A650;
	border-top-style: solid;
}

.TableStyle-Table_Centered-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Table_Centered-FootF-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: bottom;
	border-top-width: 1px;
	border-top-color: #00A650;
	border-top-style: solid;
}

.TableStyle-Table_Centered-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Table_Centered-FootH-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #00A650;
	border-right-style: solid;
	vertical-align: bottom;
}

.TableStyle-Table_Centered-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Table_Centered-FootD-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: bottom;
	border-top-width: 1px;
	border-top-color: #00A650;
	border-top-style: solid;
}

.TableStyle-Table_Centered-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Table_Centered-FootC-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: bottom;
}

.TableStyle-Table_Centered-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Table_Centered-FootB-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #00A650;
	border-right-style: solid;
	vertical-align: bottom;
}

.TableStyle-Table_Centered-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Table_Centered-FootA-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: bottom;
}

.TableStyle-Table_Centered-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Table_Centered-FootG-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: bottom;
}

.TableStyle-Table_Centered-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Table_Centered-Body-Body1
{
	
}

.TableStyle-Table_Centered-BodyI-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: top;
}

.TableStyle-Table_Centered-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Table_Centered-BodyE-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #00A650;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #00A650;
	border-right-style: solid;
}

.TableStyle-Table_Centered-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Table_Centered-BodyF-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #00A650;
	border-bottom-style: solid;
}

.TableStyle-Table_Centered-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Table_Centered-BodyH-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #00A650;
	border-right-style: solid;
}

.TableStyle-Table_Centered-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Table_Centered-BodyD-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #00A650;
	border-bottom-style: solid;
}

.TableStyle-Table_Centered-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Table_Centered-BodyC-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: top;
}

.TableStyle-Table_Centered-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Table_Centered-BodyB-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #00A650;
	border-right-style: solid;
}

.TableStyle-Table_Centered-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Table_Centered-BodyA-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: top;
}

.TableStyle-Table_Centered-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Table_Centered-BodyG-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: top;
}

.TableStyle-Table_Centered-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Table_Centered-Body-Body2
{
	
}

.TableStyle-Table_Centered-BodyI-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: top;
}

.TableStyle-Table_Centered-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Table_Centered-BodyE-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #00A650;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #00A650;
	border-right-style: solid;
}

.TableStyle-Table_Centered-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Table_Centered-BodyF-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #00A650;
	border-bottom-style: solid;
}

.TableStyle-Table_Centered-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Table_Centered-BodyH-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #00A650;
	border-right-style: solid;
}

.TableStyle-Table_Centered-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Table_Centered-BodyD-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #00A650;
	border-bottom-style: solid;
}

.TableStyle-Table_Centered-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Table_Centered-BodyC-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: top;
}

.TableStyle-Table_Centered-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Table_Centered-BodyB-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #00A650;
	border-right-style: solid;
}

.TableStyle-Table_Centered-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Table_Centered-BodyA-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: top;
}

.TableStyle-Table_Centered-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Table_Centered-BodyG-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	vertical-align: top;
}

.TableStyle-Table_Centered-BodyG-Column1-Body2 p
{
	
}


