/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Warning_DocInfo;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	max-id: 7;
	column-break-before: avoid;
	page-break-inside: avoid;
	margin-bottom: 5px;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column1;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	text-align: left;
	vertical-align: top;
	cell-padding-right: 3px;
	cell-padding-bottom: 37px;
	size: 60px;
	cell-content-style-tag: p;
	cell-content-style-class: z_table_body;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column2;
	cell-content-style-tag: p;
	cell-content-style-class: z_table_docinfo;
}

mcTableBodyStyle
{
	span: 1;
	id: 7;
	name: Body1;
	page-break-inside: avoid;
}


/* Cell Styles: */
 
.TableStyle-Warning_DocInfo
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	margin-bottom: 5px;
	page-break-inside: avoid;
	column-break-before: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-Warning_DocInfo-Column-Column1
{
	width: 60px;
}

.TableStyle-Warning_DocInfo-Column-Column2
{
	
}

.TableStyle-Warning_DocInfo-HeadI-Column1-
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-HeadI-Column1- p
{
	
}

.TableStyle-Warning_DocInfo-HeadE-Column1-
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-HeadE-Column1- p
{
	
}

.TableStyle-Warning_DocInfo-HeadF-Column1-
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-HeadF-Column1- p
{
	
}

.TableStyle-Warning_DocInfo-HeadH-Column1-
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-HeadH-Column1- p
{
	
}

.TableStyle-Warning_DocInfo-HeadD-Column1-
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-HeadD-Column1- p
{
	
}

.TableStyle-Warning_DocInfo-HeadC-Column1-
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-HeadC-Column1- p
{
	
}

.TableStyle-Warning_DocInfo-HeadB-Column1-
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-HeadB-Column1- p
{
	
}

.TableStyle-Warning_DocInfo-HeadA-Column1-
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-HeadA-Column1- p
{
	
}

.TableStyle-Warning_DocInfo-HeadG-Column1-
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-HeadG-Column1- p
{
	
}

.TableStyle-Warning_DocInfo-HeadI-Column2-
{
	
}

.TableStyle-Warning_DocInfo-HeadI-Column2- p
{
	
}

.TableStyle-Warning_DocInfo-HeadE-Column2-
{
	
}

.TableStyle-Warning_DocInfo-HeadE-Column2- p
{
	
}

.TableStyle-Warning_DocInfo-HeadF-Column2-
{
	
}

.TableStyle-Warning_DocInfo-HeadF-Column2- p
{
	
}

.TableStyle-Warning_DocInfo-HeadH-Column2-
{
	
}

.TableStyle-Warning_DocInfo-HeadH-Column2- p
{
	
}

.TableStyle-Warning_DocInfo-HeadD-Column2-
{
	
}

.TableStyle-Warning_DocInfo-HeadD-Column2- p
{
	
}

.TableStyle-Warning_DocInfo-HeadC-Column2-
{
	
}

.TableStyle-Warning_DocInfo-HeadC-Column2- p
{
	
}

.TableStyle-Warning_DocInfo-HeadB-Column2-
{
	
}

.TableStyle-Warning_DocInfo-HeadB-Column2- p
{
	
}

.TableStyle-Warning_DocInfo-HeadA-Column2-
{
	
}

.TableStyle-Warning_DocInfo-HeadA-Column2- p
{
	
}

.TableStyle-Warning_DocInfo-HeadG-Column2-
{
	
}

.TableStyle-Warning_DocInfo-HeadG-Column2- p
{
	
}

.TableStyle-Warning_DocInfo-FootI-Column1-
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-FootI-Column1- p
{
	
}

.TableStyle-Warning_DocInfo-FootE-Column1-
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-FootE-Column1- p
{
	
}

.TableStyle-Warning_DocInfo-FootF-Column1-
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-FootF-Column1- p
{
	
}

.TableStyle-Warning_DocInfo-FootH-Column1-
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-FootH-Column1- p
{
	
}

.TableStyle-Warning_DocInfo-FootD-Column1-
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-FootD-Column1- p
{
	
}

.TableStyle-Warning_DocInfo-FootC-Column1-
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-FootC-Column1- p
{
	
}

.TableStyle-Warning_DocInfo-FootB-Column1-
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-FootB-Column1- p
{
	
}

.TableStyle-Warning_DocInfo-FootA-Column1-
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-FootA-Column1- p
{
	
}

.TableStyle-Warning_DocInfo-FootG-Column1-
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-FootG-Column1- p
{
	
}

.TableStyle-Warning_DocInfo-FootI-Column2-
{
	
}

.TableStyle-Warning_DocInfo-FootI-Column2- p
{
	
}

.TableStyle-Warning_DocInfo-FootE-Column2-
{
	
}

.TableStyle-Warning_DocInfo-FootE-Column2- p
{
	
}

.TableStyle-Warning_DocInfo-FootF-Column2-
{
	
}

.TableStyle-Warning_DocInfo-FootF-Column2- p
{
	
}

.TableStyle-Warning_DocInfo-FootH-Column2-
{
	
}

.TableStyle-Warning_DocInfo-FootH-Column2- p
{
	
}

.TableStyle-Warning_DocInfo-FootD-Column2-
{
	
}

.TableStyle-Warning_DocInfo-FootD-Column2- p
{
	
}

.TableStyle-Warning_DocInfo-FootC-Column2-
{
	
}

.TableStyle-Warning_DocInfo-FootC-Column2- p
{
	
}

.TableStyle-Warning_DocInfo-FootB-Column2-
{
	
}

.TableStyle-Warning_DocInfo-FootB-Column2- p
{
	
}

.TableStyle-Warning_DocInfo-FootA-Column2-
{
	
}

.TableStyle-Warning_DocInfo-FootA-Column2- p
{
	
}

.TableStyle-Warning_DocInfo-FootG-Column2-
{
	
}

.TableStyle-Warning_DocInfo-FootG-Column2- p
{
	
}

.TableStyle-Warning_DocInfo-Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-Warning_DocInfo-BodyI-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Warning_DocInfo-BodyE-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Warning_DocInfo-BodyF-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Warning_DocInfo-BodyH-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Warning_DocInfo-BodyD-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Warning_DocInfo-BodyC-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Warning_DocInfo-BodyB-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Warning_DocInfo-BodyA-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Warning_DocInfo-BodyG-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	background-image: url('../Common Images/Info_image1.png');
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 37px;
}

.TableStyle-Warning_DocInfo-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Warning_DocInfo-BodyI-Column2-Body1
{
	
}

.TableStyle-Warning_DocInfo-BodyI-Column2-Body1 p
{
	
}

.TableStyle-Warning_DocInfo-BodyE-Column2-Body1
{
	
}

.TableStyle-Warning_DocInfo-BodyE-Column2-Body1 p
{
	
}

.TableStyle-Warning_DocInfo-BodyF-Column2-Body1
{
	
}

.TableStyle-Warning_DocInfo-BodyF-Column2-Body1 p
{
	
}

.TableStyle-Warning_DocInfo-BodyH-Column2-Body1
{
	
}

.TableStyle-Warning_DocInfo-BodyH-Column2-Body1 p
{
	
}

.TableStyle-Warning_DocInfo-BodyD-Column2-Body1
{
	
}

.TableStyle-Warning_DocInfo-BodyD-Column2-Body1 p
{
	
}

.TableStyle-Warning_DocInfo-BodyC-Column2-Body1
{
	
}

.TableStyle-Warning_DocInfo-BodyC-Column2-Body1 p
{
	
}

.TableStyle-Warning_DocInfo-BodyB-Column2-Body1
{
	
}

.TableStyle-Warning_DocInfo-BodyB-Column2-Body1 p
{
	
}

.TableStyle-Warning_DocInfo-BodyA-Column2-Body1
{
	
}

.TableStyle-Warning_DocInfo-BodyA-Column2-Body1 p
{
	
}

.TableStyle-Warning_DocInfo-BodyG-Column2-Body1
{
	
}

.TableStyle-Warning_DocInfo-BodyG-Column2-Body1 p
{
	
}


